.container{
  display: flex;
  justify-content: center;
  justify-items: center;

}
.item{
    display: flex;
    justify-content: center;
    justify-items: center;
}
h1{
    text-align: center;
    margin:  auto 10px;
}
.btn{
    background: green;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
        
}
.btn:hover{
    background: rgb(173, 241, 173);
}
p{
    font-size: 25px;
    color: red;
    text-align: center;
    
}